* {
    margin: 0;
    padding: 0;
}

.text-center {
    text-align: center;
    padding: 30px;
    /* margin-top: 20px; */
    background-color: black;
    color: #ffff;
}

.row {
    /* background-color: aquamarine; */
    padding: 15px 0px 0px 15px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    height: 10vh;
    width: 10vh;
    border: 2px solid black;
    border-radius: 20px;
    color: #ffff;
    font-weight: 500;
    font-size: 1.5rem;
    background-color: grey;
    cursor: pointer;
    transition: transform 0.12s ease;
}

.btn:active {
    transform: scale(0.95);
}

#zero {
    width: 22vh;
}

#AC {
    background-color: red;
}

#equal {
    background-color: green;
}

.screen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row input {
    padding: 10px 0px;
    width: 45vh;
    margin: 0;
    border: 3px solid black;
    border-radius: 5px;
    font-size: 23px;
}

.operator {
    background-color: orange;
}